
  /**css for home page**/
  .home_img {
	width:100%;
    max-width: 1300px;
	margin: auto;
    padding: 0 25px;
 }

 .home_img__text_section{
	position: relative;
    width: 100%;
}

.home_img__text_section_container{
	position: absolute;
    display: flex;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* slide 1 */
.home_img__text_1{
    text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
	padding: 8px;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 34px;
	line-height:53px;
    width: 95%;
    max-width: 806px;
    margin-bottom: 1rem;
}

.home_img__text_2{
	color: #EFEFEF;
    background-color: rgba(27, 204, 0, 0.629);
	padding: 16px;
	border-radius:0;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 21px;
	letter-spacing:1px;
	box-shadow:0 0 10px #000;
}

.home_img__image{
    width: 100%;
    object-fit: contain;
}

.card.card--no_border{
    border: none;
}
.card__title.card__title--extra_height{
    min-height: 60px;
}
@media(max-width: 767px){
    .card__title.card__title--extra_height{
        min-height: 0px;
    }
    .home_img__text_1{
        font-size: 20px;
        line-height: normal;
    }

    .home_img__text_2{
        font-size: 18px;
        padding: 10px;
    }
}
/**styling for products on home page**/

.card.card--no_border{
    border: none;
}

.card__product_image{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
.col-md-4{
    text-align: center;
    padding: 10px;
}
.card-body a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color:#272727;
}
.card-body a:hover{
    color: rgba(27, 204, 0);
}
.card-body h4 {
    min-height: 85px;
}
.card-body span{
    color:rgba(27, 204, 0);
    font-size: 25px;
    font-weight: 300;
}