body {
	margin: 0;
	padding: 0;
}
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
  line-height: 1.2;
	border: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Century Gothic;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar__itself {
    overflow: hidden;
    background-color:#ffffff;
    padding :20px 0 20px 0;
  }

  .navbar_item {
    float: left;
    font-size: 18px;
    color: #272727;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-weight: bold;
  }

  .navbar__navsection {
    float: right;
    overflow: hidden;
  }

  .navbar__dropdown {
    float: right;
    overflow: hidden;
  }


  .navbar__dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #272727;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar_item:hover, .navbar__dropdown:hover .navbar__dropbtn {

    transition: 0.5s;
    color:#7aa840;
  }

 .navbar__image{
    background-color: transparent;
    padding: 0px;
  }

  .navbar__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    transform: translateX(-95px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .navbar_item.navbar_item--dropdown {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navbar_item.navbar_item--dropdown:hover {
    background-color: #ddd;
  }

  .navbar__dropdown:hover .navbar__dropdown-content {
    display: block;
  }

.navbar__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar__col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.navbar__col-2 img {
    max-width: 100%;
    padding: 50px;
}
/**contact us **/
.heading{
  text-align: center;
  font-size: 4rem;
}

.contact .contactrow{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.contactgrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 90px;
  max-width: 1200px;
  margin: 25px auto;
}

.contactart img, .featured img{
  width: 100%;
  border: 5px solid;
  border-radius: 10px;
}

.contactart p, .contactart h3 {
  margin: 20px;
}

.contactart .fa {
  padding: 10px;
  margin: auto 0rem 1rem 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 40px;
}

.contactart .fa-linkedin {
  background: #4267B2;
  color: #ffffff;
}

.contactart .fa-twitter {
  background: #1DA1F2;
  color:  #ffffff;
}

.contactart .fa-instagram {
  background:  #c13584;
  color: #ffffff;
}

.featured {
  align-items: center;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  padding: 25px, 15px;
}
/**footer css **/
.icons-container i{
  padding: 2rem;
  font-size: 1.5rem;
}

.icons-container span{
  color: #555;
  font-size: 10px;
  display: inline-block;
}

.footer{
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #eee;
 color: rgb(0, 0, 0);
 text-align: center;
 display: inline-block;
}

.info{
  display: inline-block;
  padding: 2rem 2rem;
  align-items: center;
  vertical-align: middle;
}

.overall__container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.mt-n1 {
margin-top: -0.25rem !important;
}
.mt-n2 {
margin-top: -0.5rem !important;
}
.mt-n3 {
margin-top: -1rem !important;
}
.mt-n4 {
margin-top: -1.5rem !important;
}
