*{
    line-height: 1.2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar__itself {
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(246, 251, 245);
  }

  .navbar__link {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0) !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
  }

  .navbar__navsection {
    float: right;
    overflow: hidden;
  }

  .navbar__dropdown {
    float: left;
    overflow: hidden;
  }


  .navbar__dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(17, 9, 9);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar__link:hover, .navbar__dropdown:hover .navbar__dropbtn {
    background-color: #8ec44c;
  }

 .navbar__image{
    background-color: transparent;
    padding: 0px;
  }

  .navbar__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    transform: translateX(-95px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .navbar__link.navbar__link--dropdown {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navbar__link.navbar__link--dropdown:hover {
    background-color: #ddd;
  }

  .navbar__dropdown:hover .navbar__dropdown-content {
    display: block;
  }

.navbar__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar__col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.navbar__col-2 img {
    max-width: 100%;
    padding: 50px;
}
